# etcdv3 data directories
*.etcd/

# Temporary files
/tmp

# Log files
/logs*/.log

# Dynamic Ansible inventory
/ansible/.etc

# Ansible Logs
/ansible/E2E_logs

# Ansible retry files
*.retry

# Default Ansible inventory
/ansible/hosts
/ansible/hosts.yml
/ansible/rok_configurations

# Public keys managed by Ansible
/ansible/public_keys/**
/!ansible/public_keys/.gitkeep

# Cluster certificates
/ansible/cluster_certs/**
!/ansible/cluster_certs/.gitkeep
cluster_certs

# Config YAML files (only templates should be pushed)
/config/*.yaml

# etc directory
/etc

# Temporary Python files and caches
*.pyc
__pycache__/
.pytest_cache/
.tox/
.coverage*

# pip egg installation files
*.egg-info/

# Sphinx build directory
/docs/_build

# Configuration files from templates
/rok.yaml
/api.yaml
/garbage_collector.yaml
/kubernetes.yaml
/kubernetes_application.yaml
/kubernetes_cluster.yaml
/magnum.yaml
/scheduler.yaml
/infrastructure.yaml

# Krake dot env configuration variables file
.env
.idea
.vscode

# PyPi directories
krake/build/*
krake/dist/*
