# pip constraints for transitive dependencies
#
# This file contains version constraints for transitive (or indirect)
# dependencies which should not be placed into the list of direct dependencies
# in pyproject.toml.
# It is fed to pip-compile to create the actual requirements files.

# scrypt 0.8.21 has no distribution for py311
scrypt!=0.8.21

# last version compatible with py38 (so we use the same in all Pythons)
pysaml2<7.4

# SQLalchemy>=2 has incompatibilities with keystone
sqlalchemy<2
