# Compose jinja2 template defines and runs docker containers for provisioning of the Krake Api,
# Krake Controllers and Krake DB infrastructure.
# Pre-built krake image is a prerequisite for this compose template.
# This compose jinja2 template can be configured by corresponding Ansible playbook
# or by `docker/generate` script in case of standalone installation.
#
# .. code:: bash
#
#     $ docker/generate --config docker/docker.yaml docker/krake
#     $ docker-compose --file docker/krake/docker-compose.yaml up --detach

version: "3.8"

services:

  krake-etcd:
    container_name: {{ etcd.host }}
    image: quay.io/coreos/etcd:{{ etcd.version }}
    restart: always
    tty: true
    ports:
      - {{ etcd.port }}:{{ etcd.port }}
    volumes:
      - ./certs/:/srv/
      - /srv/docker/etcd:/etcd-data
    environment:
      ETCD_NAME: {{ etcd.host }}
      ETCD_DATA_DIR: /etcd-data/{{ etcd.host }}
      ETCDCTL_API: 3
      ETCD_ADVERTISE_CLIENT_URLS: http://{{ etcd.host }}:{{ etcd.port }}
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://{{ etcd.host }}:{{ etcd.peer_port }}
      ETCD_INITIAL_CLUSTER: {{ etcd.host }}=http://{{ etcd.host }}:{{ etcd.peer_port }}
      ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:{{ etcd.port }}
      ETCD_LISTEN_PEER_URLS: http://0.0.0.0:{{ etcd.peer_port }}

  krake-api:
    container_name: {{ api.host }}
    image: krake:latest
    restart: always
    tty: true
    ports:
      - {{ api.port }}:{{ api.port }}
    depends_on:
      - krake-etcd
    command: python3 -m krake.api
    secrets:
      - source: api-config
        target: "{{ krake.config.path }}/api.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: api-server-cert
        target: "{{ krake.cert_dir }}/system:api-server.pem"
      - source: api-server-key
        target: "{{ krake.cert_dir }}/system:api-server-key.pem"
      {%- endif %}

  krake-ctrl-garbage-collector:
    image: krake:latest
    restart: always
    tty: true
    depends_on:
      - krake-api
    command: python3 -m krake.controller.gc
    secrets:
      - source: gc-config
        target: "{{ krake.config.path }}/garbage_collector.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: gc-cert
        target: "{{ krake.cert_dir }}/system:gc.pem"
      - source: gc-key
        target: "{{ krake.cert_dir }}/system:gc-key.pem"
      {%- endif %}

  krake-ctrl-kubernetes-application:
    image: krake:latest
    restart: always
    tty: true
    depends_on:
      - krake-api
    command: python3 -m krake.controller.kubernetes.application
    secrets:
      - source: kubernetes-application-config
        target: "{{ krake.config.path }}/kubernetes_application.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: kubernetes-application-cert
        target: "{{ krake.cert_dir }}/system:kubernetes-application.pem"
      - source: kubernetes-application-key
        target: "{{ krake.cert_dir }}/system:kubernetes-application-key.pem"
      - source: complete-signing-cert
        target: "{{ krake.cert_dir }}/system:complete-signing.pem"
      - source: complete-signing-key
        target: "{{ krake.cert_dir }}/system:complete-signing-key.pem"
      - source: shutdown-signing-cert
        target: "{{ krake.cert_dir }}/system:shutdown-signing.pem"
      - source: shutdown-signing-key
        target: "{{ krake.cert_dir }}/system:shutdown-signing-key.pem"
      {%- endif %}

  krake-ctrl-kubernetes-cluster:
    image: krake:latest
    restart: always
    tty: true
    depends_on:
      - krake-api
    command: python3 -m krake.controller.kubernetes.cluster
    secrets:
      - source: kubernetes-cluster-config
        target: "{{ krake.config.path }}/kubernetes_cluster.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: kubernetes-cluster-cert
        target: "{{ krake.cert_dir }}/system:kubernetes-cluster.pem"
      - source: kubernetes-cluster-key
        target: "{{ krake.cert_dir }}/system:kubernetes-cluster-key.pem"
      {%- endif %}

  krake-ctrl-scheduler:
    image: krake:latest
    restart: always
    tty: true
    depends_on:
      - krake-api
    command: python3 -m krake.controller.scheduler
    secrets:
      - source: scheduler-config
        target: "{{ krake.config.path }}/scheduler.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: scheduler-cert
        target: "{{ krake.cert_dir }}/system:scheduler.pem"
      - source: scheduler-key
        target: "{{ krake.cert_dir }}/system:scheduler-key.pem"
      {%- endif %}

  krake-ctrl-infrastructure:
    image: krake:latest
    restart: always
    tty: true
    depends_on:
      - krake-api
    command: python3 -m krake.controller.infrastructure
    secrets:
      - source: infrastructure-config
        target: "{{ krake.config.path }}/infrastructure.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: infrastructure-cert
        target: "{{ krake.cert_dir }}/system:infrastructure.pem"
      - source: infrastructure-key
        target: "{{ krake.cert_dir }}/system:infrastructure-key.pem"
      {%- endif %}

  krake-ctrl-magnum:
    image: krake:latest
    restart: always
    tty: true
    depends_on:
      - krake-api
    command: python3 -m krake.controller.magnum
    secrets:
      - source: magnum-config
        target: "{{ krake.config.path }}/magnum.yaml"
      {% if krake.enable_tls -%}
      - source: ca-cert
        target: "{{ krake.cert_dir }}/ca.pem"
      - source: magnum-cert
        target: "{{ krake.cert_dir }}/system:magnum.pem"
      - source: magnum-key
        target: "{{ krake.cert_dir }}/system:magnum-key.pem"
      {%- endif %}

# Configs are not supported by docker-compose without Swarm, but the certificates and
# keys should not be shared between containers.
# As as workaround, secrets are used for all files specific to each container.
secrets:
  api-config:
    file: "{{ krake.config.path }}/api.yaml"

  gc-config:
    file: "{{ krake.config.path }}/garbage_collector.yaml"

  kubernetes-application-config:
    file: "{{ krake.config.path }}/kubernetes_application.yaml"

  kubernetes-cluster-config:
    file: "{{ krake.config.path }}/kubernetes_cluster.yaml"

  scheduler-config:
    file: "{{ krake.config.path }}/scheduler.yaml"

  infrastructure-config:
    file: "{{ krake.config.path }}/infrastructure.yaml"

  magnum-config:
    file: "{{ krake.config.path }}/magnum.yaml"

  {% if krake.enable_tls -%}
  ca-cert:
    file: "{{ krake.cert_dir }}/ca.pem"

  api-server-cert:
    file: "{{ krake.cert_dir }}/system:api-server.pem"
  api-server-key:
    file: "{{ krake.cert_dir }}/system:api-server-key.pem"

  gc-cert:
    file: "{{ krake.cert_dir }}/system:gc.pem"
  gc-key:
    file: "{{ krake.cert_dir }}/system:gc-key.pem"

  kubernetes-application-cert:
    file: "{{ krake.cert_dir }}/system:kubernetes-application.pem"
  kubernetes-application-key:
    file: "{{ krake.cert_dir }}/system:kubernetes-application-key.pem"
  complete-signing-cert:
    file: "{{ krake.cert_dir }}/system:complete-signing.pem"
  complete-signing-key:
    file: "{{ krake.cert_dir }}/system:complete-signing-key.pem"
  shutdown-signing-cert:
    file: "{{ krake.cert_dir }}/system:shutdown-signing.pem"
  shutdown-signing-key:
    file: "{{ krake.cert_dir }}/system:shutdown-signing-key.pem"

  kubernetes-cluster-cert:
    file: "{{ krake.cert_dir }}/system:kubernetes-cluster.pem"
  kubernetes-cluster-key:
    file: "{{ krake.cert_dir }}/system:kubernetes-cluster-key.pem"

  scheduler-cert:
    file: "{{ krake.cert_dir }}/system:scheduler.pem"
  scheduler-key:
    file: "{{ krake.cert_dir }}/system:scheduler-key.pem"

  infrastructure-cert:
    file: "{{ krake.cert_dir }}/system:infrastructure.pem"
  infrastructure-key:
    file: "{{ krake.cert_dir }}/system:infrastructure-key.pem"

  magnum-cert:
    file: "{{ krake.cert_dir }}/system:magnum.pem"
  magnum-key:
    file: "{{ krake.cert_dir }}/system:magnum-key.pem"
  {%- endif %}

{% if docker_daemon_mtu is defined %}
networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: {{ docker_daemon_mtu }}
{% endif %}
