{# TODO make it DRY with the other generators #}
{# Include the template corresponding to the given operation name. #}
{% macro include_operation(operation) %}
{% if operation.subresource %}
    {#- Need "operation" as parameter for the values in the included template -#}
    {% include 'subres_%s.jinja' % operation.name|lower %}
{% else %}
    {#- Need "operation" as parameter for the values in the included template -#}
    {% include '%s.jinja' % operation.name|lower %}
{% endif %}
{% endmacro %}


{# Add "namespace=testing" in the parameters if the resource of the operation is namespaced #}
{% macro namespace_testing(operation) -%}
    {{ 'namespace="testing", ' if operation.resource.namespaced }}
{%- endmacro %}


{#
    Add "namespace=data.metadata.namespace" in the parameters if the resource of the
     operation is namespaced
#}
{% macro namespace_metadata(operation) -%}
    {{ "namespace=data.metadata.namespace, " if operation.resource.namespaced }}
{%- endmacro %}


{#
    Add a slice to remove the last element of a list
    if the resource of the operation is namespaced
#}
{% macro namespace_sort_all(operation) -%}
    {{ '[:-1]' if operation.resource.namespaced }}
{%- endmacro %}


{#
    Add 'metadata__namespace="other"' for a Factory
    if the resource of the operation is namespaced
#}
{% macro namespace_metadata_namespace(operation) -%}
    {{ 'metadata__namespace="other"' if operation.resource.namespaced }}
{%- endmacro %}
