{% import "macros.jinja" as macros %}

from krake.client import Watcher, ApiClient
{% for module_path, classes in api_def.import_classes.items() -%}
    from {{ module_path }} import {% for cls_name in classes -%}
        {{ cls_name.__name__ }}{{ ", " if not loop.last }}
    {%- endfor -%}
{% endfor %}


class {{ api_def.name|title }}Api(ApiClient):
    """{{ api_def.name|title }} API client

    Example:
        .. code:: python

            from krake.client import Client

            with Client(url="http://localhost:8080") as client:
                {{ api_def.name|lower }}_api = {{ api_def.name|title }}Api(client)

    Args:
        client (krake.client.Client): API client for accessing the Krake HTTP API

    """

    plurals = {
    {% for resource in api_def.resources %}
        "{{ resource.singular }}": "{{ resource.plural }}",
    {% endfor %}
    }

{% for resource in api_def.resources %}
    {% for operation in resource.operations %}
        {#- The macro is used to be able to apply the "indent" filter -#}
        {{ macros.include_operation(operation, "api_client")|indent }}
    {% endfor %}

    {% for subresource in resource.subresources -%}
        {% for operation in subresource.operations -%}
            {#- The macro is used to be able to apply the "indent" filter -#}
            {{ macros.include_operation(operation, "api_client", sub_resource=False)|indent }}
        {% endfor %}
    {% endfor %}

{%- endfor %}
