# Configure OpenVPN as gateway to Krake subnet
domain ip {
    chain INPUT {
        # Allow incoming IP and UDP packets on OpenVPN port
        proto udp dport 1194 ACCEPT;
    }
    table filter {
        chain FORWARD {
            # Forward all packets from VPN to krake-subnet
            saddr {{ vpn_cidr }} daddr {{ private_subnet_cidr }} ACCEPT;
        }
    }
    table nat {
        chain POSTROUTING {
            # Translate address from VPN packets into krake-subnet address
            saddr {{ vpn_cidr }} daddr {{ private_subnet_cidr }} MASQUERADE;
        }
    }
}
