{# Include the template corresponding to the given operation name. #}
{% macro include_operation(operation) %}
{% if operation.subresource %}
    {#- Need "operation" as parameter for the values in the included template -#}
    {% include 'subres_%s.jinja' % operation.name|lower %}
{% else %}
    {#- Need "operation" as parameter for the values in the included template -#}
    {% include '%s.jinja' % operation.name|lower %}
{% endif %}
{% endmacro %}
