upstream docker-prometheus {
    server {{ prometheus_container_name }}:{{ prometheus_port }};
}
upstream dummy-exporter {
    server {{ exporter_dummy_container_name }}:{{ exporter_dummy_api_port }};
}

server {
    listen {{ nginx_https_listen_port }} ssl default_server;

    # Server logging
    access_log /dev/stdout main;
    error_log  /dev/stdout;

    # TODO For development purposes only. For production purposes need to be re-visited.
    # Server protocols and ciphers.
    ssl_prefer_server_ciphers on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

    # Server certificate and key.
    ssl_certificate /etc/nginx/ssl/cert.pem;
    ssl_certificate_key /etc/nginx/ssl/key.pem;
    ssl_session_timeout  5m;

    location /prometheus/ {

        proxy_pass http://docker-prometheus/;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_connect_timeout 300;
    }

    location /dummy-exporter/ {

        proxy_pass http://dummy-exporter/;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_connect_timeout 300;
    }
}
