async def test_delete_{{ operation.signature_name }}(aiohttp_server, config, db, loop):
    data = {{ operation.response.__name__ }}Factory(metadata__finalizers="keep-me")
    await db.put(data)

    server = await aiohttp_server(create_app(config=config))

    async with Client(url=f"http://{server.host}:{server.port}", loop=loop) as client:
        {{ operation.resource.api }}_api = {{ operation.resource.api|title }}Api(client)
        received = await {{ operation.resource.api }}_api.delete_{{ operation.signature_name }}(
            {{ namespace_metadata(operation) }}name=data.metadata.name
        )

    assert received.api == "{{ operation.resource.api }}"
    assert received.kind == "{{ operation.response.__name__ }}"
    assert received.metadata.deleted is not None

    stored = await db.get(
        {{ operation.response.__name__ }}, {{ namespace_metadata(operation) }}name=data.metadata.name
    )
    assert stored == received
