async def test_update_{{ operation.signature_name }}_tosca_from_dict(aiohttp_server, config, db, loop):
    # MISSING Resource-specific attributes can be set here
    tosca = create_tosca_from_resources([deployment_manifest])
    data = {{ operation.body.__name__ }}Factory(
        spec__manifest=[],
        spec__tosca=tosca,
        status__state=ApplicationState.RUNNING,
    )
    await db.put(data)
    # MISSING The resource-specific attributes can be updated here
    # data.spec.foo = bar

    server = await aiohttp_server(create_app(config=config))

    async with Client(url=f"http://{server.host}:{server.port}", loop=loop) as client:
        {{ operation.resource.api }}_api = {{ operation.resource.api|title }}Api(client)
        received = await {{ operation.resource.api }}_api.update_{{ operation.signature_name }}(
            {{ namespace_metadata(operation) }}name=data.metadata.name, body=data
        )

    assert received.api == "{{ operation.resource.api }}"
    assert received.kind == "{{ operation.response.__name__ }}"
    assert data.metadata.modified < received.metadata.modified
    # MISSING Assertions on resource-specific received values.
    # assert received.spec.foo == bar

    stored = await db.get(
        {{ operation.response.__name__ }}, {{ namespace_metadata(operation) }}name=data.metadata.name
    )
    assert stored == received
    # MISSING Assertions on resource-specific updated values.
    # assert data.spec.foo == bar


async def test_update_{{ operation.signature_name }}_tosca_from_url(aiohttp_server, config, db, loop, file_server):
    # MISSING Resource-specific attributes can be set here
    tosca_url = file_server(create_tosca_from_resources([deployment_manifest]))
    data = {{ operation.body.__name__ }}Factory(
        spec__manifest=[],
        spec__tosca=tosca_url,
        status__state=ApplicationState.RUNNING,
    )
    await db.put(data)
    # MISSING The resource-specific attributes can be updated here
    # data.spec.foo = bar

    server = await aiohttp_server(create_app(config=config))

    async with Client(url=f"http://{server.host}:{server.port}", loop=loop) as client:
        {{ operation.resource.api }}_api = {{ operation.resource.api|title }}Api(client)
        received = await {{ operation.resource.api }}_api.update_{{ operation.signature_name }}(
            {{ namespace_metadata(operation) }}name=data.metadata.name, body=data
        )

    assert received.api == "{{ operation.resource.api }}"
    assert received.kind == "{{ operation.response.__name__ }}"
    assert data.metadata.modified < received.metadata.modified
    # MISSING Assertions on resource-specific received values.
    # assert received.spec.foo == bar

    stored = await db.get(
        {{ operation.response.__name__ }}, {{ namespace_metadata(operation) }}name=data.metadata.name
    )
    assert stored == received
    # MISSING Assertions on resource-specific updated values.
    # assert data.spec.foo == bar


async def test_update_{{ operation.signature_name }}_csar_from_url(aiohttp_server, config, db, loop, archive_files, file_server):
    # MISSING Resource-specific attributes can be set here
    tosca = create_tosca_from_resources([deployment_manifest])
    csar_path = archive_files(
        archive_name="archive.csar",
        files=[
            ("tosca.yaml", tosca),
            (
                "TOSCA-Metadata/TOSCA.meta",
                CSAR_META.format(entry_definition="tosca.yaml"),
            ),
        ],
    )
    csar_url = file_server(csar_path, file_name="example.csar")
    data = {{ operation.body.__name__ }}Factory(
        spec__manifest=[],
        spec__csar=csar_url,
        status__state=ApplicationState.RUNNING,
    )
    await db.put(data)
    # MISSING The resource-specific attributes can be updated here
    # data.spec.foo = bar

    server = await aiohttp_server(create_app(config=config))

    async with Client(url=f"http://{server.host}:{server.port}", loop=loop) as client:
        {{ operation.resource.api }}_api = {{ operation.resource.api|title }}Api(client)
        received = await {{ operation.resource.api }}_api.update_{{ operation.signature_name }}(
            {{ namespace_metadata(operation) }}name=data.metadata.name, body=data
        )

    assert received.api == "{{ operation.resource.api }}"
    assert received.kind == "{{ operation.response.__name__ }}"
    assert data.metadata.modified < received.metadata.modified
    # MISSING Assertions on resource-specific received values.
    # assert received.spec.foo == bar

    stored = await db.get(
        {{ operation.response.__name__ }}, {{ namespace_metadata(operation) }}name=data.metadata.name
    )
    assert stored == received
    # MISSING Assertions on resource-specific updated values.
    # assert data.spec.foo == bar
