# This bootstrap jinja2 template adds the Prometheus metrics used by the `prometheus`
# container and exported by simple metrics exporter server as well as a provider
# definition to connect to the Prometheus docker server.
#
# This bootstrap jinja2 template can be configured by the corresponding Ansible playbook
# or by the script `docker/generate` in case of standalone installation.
# These resources can be loaded using the `krake_bootstrap_db` script.
#
# .. code:: bash
#
#     $ cd docker
#     $ docker/generate --config docker.yaml docker/prometheus
#     $ krake_bootstrap_db docker/prometheus/bootstrap.yaml

##########################
### Prometheus Metrics ###
##########################

api: core
kind: GlobalMetric
metadata:
  name: heat_demand_zone_1
spec:
  max: 5.0
  min: 0.0
  provider:
    metric: heat_demand_zone_1
    name: prometheus

---


api: core
kind: GlobalMetric
metadata:
  name: heat_demand_zone_2
spec:
  max: 5.0
  min: 0.0
  provider:
    metric: heat_demand_zone_2
    name: prometheus

---


api: core
kind: GlobalMetric
metadata:
  name: heat_demand_zone_3
spec:
  max: 5.0
  min: 0.0
  provider:
    metric: heat_demand_zone_3
    name: prometheus

---


api: core
kind: GlobalMetric
metadata:
  name: heat_demand_zone_4
spec:
  max: 5.0
  min: 0.0
  provider:
    metric: heat_demand_zone_4
    name: prometheus

---


api: core
kind: GlobalMetric
metadata:
  name: heat_demand_zone_5
spec:
  max: 5.0
  min: 0.0
  provider:
    metric: heat_demand_zone_5
    name: prometheus

---


api: core
kind: GlobalMetric
metadata:
  name: heat_demand_zone_unreachable
spec:
  max: 5.0
  min: 0.0
  provider:
    metric: heat_demand_zone_unreachable
    name: prometheus-unreachable

---


####################################
### Prometheus Metrics Providers ###
####################################

api: core
kind: GlobalMetricsProvider
metadata:
  name: prometheus
spec:
  type: prometheus
  prometheus:
    url: http://{{ prometheus.host }}:{{ prometheus.port }}

---


api: core
kind: GlobalMetricsProvider
metadata:
  name: prometheus-unreachable
spec:
  type: prometheus
  prometheus:
    url: http://1.2.3.4:9090
