{# Include the template corresponding to the given operation name. #}
{% macro include_operation(operation) %}
    {#- Need "operation" as parameter for the values in the included template -#}
    {% include '%s.jinja' % operation.name|lower %}
{% endmacro %}

{#
    Add "namespace" in the signature of a function if the resource of
    the operation is namespaced
#}
{% macro namespace_signature(operation) -%}
    {{ ", namespace" if operation.resource.namespaced }}
{%- endmacro %}

{# Add "namespace" as parameter if the resource of the operation is namespaced #}
{% macro namespace_format(operation) -%}
    {{ "namespace=namespace, " if operation.resource.namespaced }}
{%- endmacro %}

{#
    Generate the docstring for an operation, WITHOUT its description. Only the arguments
    and returned elements are generated.
#}
{% macro docstring(operation) -%}
{% if operation.arguments %}
Args:
{%- for arg in operation.arguments %}
{%- if arg.name == "body" %}
    body ({{ operation.body.__name__ }}): Body of the HTTP request.
{%- elif arg.name == "namespace" %}
    namespace (str): namespace in which the {{ operation.resource.singular }} will be updated.
{%- elif arg.name == "name" %}
    name (str): name of the {{ operation.resource.singular }}.
{%- else %}
    {{ arg.name }} ({{ arg.kind }}): {{ arg.doc }}
{%- endif %}
{%- endfor %}
{%- endif %}
{% if operation.response %}
Returns:
    {{ operation.response.__name__ }}: Body of the HTTP response.
{% endif %}
{%- endmacro %}
