# Ansible configuration
#
# @see https://docs.ansible.com/ansible/latest/installation_guide/intro_configuration.html

[defaults]
# Add directories with custom plugins
inventory_plugins = plugins/inventory
action_plugins = plugins/action
filter_plugins = plugins/filter

timeout = 60
callbacks_enabled = profile_tasks

[inventory]
# Enable "krake_inventory" plugin
enable_plugins = krake_inventory,host_list,script,yaml,ini

# If ‘true’ it is a fatal error if every single potential inventory source
# fails to parse, otherwise this situation will only attract a warning.
unparsed_is_failed = true

[ssh_connection]

# These ssh config option ServerAliveInterval is necessary to keep ansible
# from hanging due to a timeout of the ssh connection. ControlMaster=auto
# and ControlPersist speed things up by reusing the tcp connection. (@see
# https://stackoverflow.com/questions/20798774/how-to-detect-why-ansible-playbook-hangs-during-execution)
ssh_args = -C -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=30m
