DEBUG = True
TESTING = True
ENV = 'development'

# TODO Set as a placeholder and adjust this variable via krake_vm-deploy.sh script
VERIFY_SSL = False

IDENTITY_PROVIDER_AUTH_URL = "{{ idp_auth_url }}"
IDENTITY_PROVIDER_USERNAME = "{{ idp_user }}"
IDENTITY_PROVIDER_PASSWORD = "{{ idp_pass }}"
