# TODO: It is still subject of discussion how the config for the components will be handled. This
# is intermediary step and will be refactored.


# Following are placeholders for krake_vm-deploy.sh script, do not remove
# Note they cannot be commented out, otherwise flake8 (correctly) complains
IDENTITY_PROVIDER_HOSTNAME = "{{ idp_host }}"


class Config(object):
    """Default configuration."""
    DEBUG = False
    TESTING = False

    VERIFY_SSL = True

    KRAKE_URL = "{{ krake_url }}"

    IDENTITY_PROVIDER_AUTH_URL = "{{ idp_auth_provider_url }}"
    IDENTITY_PROVIDER_TOKEN_AUTH_URL = IDENTITY_PROVIDER_AUTH_URL + '/auth/tokens'

    ADMIN_DOMAIN = 'default'
    ADMIN_LOGIN = 'krake_service_account'
    ADMIN_PASSWORD = 'tmp'

    CSR_CN = 'admin'
    # Organization name must be specified
    # https://docs.openstack.org/releasenotes/magnum/queens.html#upgrade-notes
    CSR_ORGANIZATION_NAME = 'system:masters'
    CSR_KEY_SIZE = 2048

    RABBITMQ_USER = 'krake'
    RABBITMQ_PASSWORD = 'tmp'
    RABBITMQ_HOST = '172.25.0.12'

    QUEUE_CREATE_APPLICATION = 'create.application'
    QUEUE_UPDATE_CLUSTER = 'update.cluster'
    QUEUE_UPDATE_APPLICATION = 'update.application'
    QUEUE_DELETE_APPLICATION = 'delete.application'
    QUEUE_SCHEDULER = 'scheduler'
    QUEUE_SAVE_DEPLOYMENT_SELECTION = 'save.deployment.selection'
    QUEUE_CLUSTER_RESOURCES_SUFFICIENT = 'cluster.resources.sufficient'
    QUEUE_SAVE_STATUS = 'save.application.status'
    QUEUE_MONITOR_STATUS = 'monitor.application.status'
    QUEUE_SPAWN_CONTAINERS = 'spawn.containers'

    CLUSTER_OPERATION_TIMEOUT = 3600  # seconds

    MONITOR_LOOP_DELAY = 20000        # milliseconds
    MONITOR_TARGET_URL = "{{ monitor_target_url }}"
    MONITOR_TARGET_PASS = "{{ monitor_target_pass }}"

    DB_USER = 'krake'
    DB_PASSWORD = '{{ db_password }}'
    DB_HOST = '172.25.0.11'
    DB_SCHEMA_NAME = 'krake'
    SQLALCHEMY_DATABASE_URI = f"mysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_SCHEMA_NAME}"

    K8S_PODS_PER_MINION = 5

    # Prometheus http server to expose Krake site metrics is running on port 8000.
    # Separate Prometheus http server to expose Krake uWsgi metrics is running on port 8001 and higher,
    # based on the number of uWsgi workers.
    PROMETHEUS_INIT_PORT = 8000
    PROMETHEUS_SITE_LOOP_DELAY = 60  # seconds


config = {
    'default': Config
}
