apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/{{cluster_name}}/.k3s/ca.crt
    server: https://{{cluster_ip}}:{{cluster_api_port}}
  name: {{cluster_name}}
contexts:
- context:
    cluster: {{cluster_name}}
    user: k3s
  name: k3s
current-context: k3s
kind: Config
preferences: {}
users:
- name: k3s
  user:
    client-certificate: {{ cert_dir }}/{{cluster_name}}/.k3s/profiles/k3s/client.crt
    client-key: {{ cert_dir }}/{{cluster_name}}/.k3s/profiles/k3s/client.key
