apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/&% cluster_name %&/.microk8s/ca.crt
    server: &% cluster_add %&
  name: &% cluster_name %&
contexts:
- context:
    cluster: &% cluster_name %&
    user: admin
  name: microk8s
current-context: microk8s
kind: Config
preferences: {}
users:
- name: admin
  user:
    token: &% client_token %&
