apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ cert_dir }}/{{cluster_name}}/.minikube/ca.crt
    server: https://{{cluster_ip}}:{{cluster_api_port}}
  name: {{cluster_name}}
contexts:
- context:
    cluster: {{cluster_name}}
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate: {{ cert_dir }}/{{cluster_name}}/.minikube/client.crt
    client-key: {{ cert_dir }}/{{cluster_name}}/.minikube/client.key
