global:
    scrape_interval: 5s
scrape_configs:
    - job_name: prometheus
      static_configs:
        - targets:
          - localhost:9090
    - job_name: krake-node-exporter
      scheme: https
      tls_config:
        insecure_skip_verify: {{ prometheus_skip_verify }}
      metrics_path: /exporters/node/metrics
      file_sd_configs:
        - files:
          - /etc/prometheus/targets.json
          refresh_interval: 10s
    - job_name: krake-cadvisor
      scheme: https
      tls_config:
        insecure_skip_verify: {{ prometheus_skip_verify }}
      metrics_path: /exporters/containers/metrics
      file_sd_configs:
        - files:
          - /etc/prometheus/targets.json
          refresh_interval: 10s
{% for i in range(uwsgi_processes + 1) %}
    - job_name: krake-exporter_{{ 8000 + i }}
      scheme: https
      tls_config:
        insecure_skip_verify: {{ prometheus_skip_verify }}
      metrics_path: /exporters/krake/{{ 8000 + i }}/metrics
      file_sd_configs:
        - files:
          - /etc/prometheus/targets.json
          refresh_interval: 10s
{% endfor %}
    - job_name: krake-mysqld-exporter
      scheme: https
      tls_config:
        insecure_skip_verify: {{ prometheus_skip_verify }}
      metrics_path: /exporters/mysql/metrics
      file_sd_configs:
        - files:
          - /etc/prometheus/targets.json
          refresh_interval: 10s
    - job_name: krake-rabbit
      scheme: https
      tls_config:
        insecure_skip_verify: {{ prometheus_skip_verify }}
      metrics_path: /exporters/rabbit/metrics
      file_sd_configs:
        - files:
          - /etc/prometheus/targets.json
          refresh_interval: 10s
    - job_name: krake-nginx-exporter
      scheme: https
      tls_config:
        insecure_skip_verify: {{ prometheus_skip_verify }}
      metrics_path: /exporters/nginx/metrics
      file_sd_configs:
        - files:
          - /etc/prometheus/targets.json
          refresh_interval: 10s
    - job_name: krake-deployment
      scheme: https
      tls_config:
        insecure_skip_verify: True
      honor_labels: true
      metrics_path: '/prometheus/federate'
      params:
        "match[]":
          - '{job="dummy-exporter"}'
          - '{job="openstack-exporter"}'
      file_sd_configs:
        - files:
          - /etc/prometheus/deployments.json
          refresh_interval: 10s
    - job_name: krake-deployment-node
      scheme: https
      tls_config:
        insecure_skip_verify: True
      metrics_path: '/kube-state-metrics/metrics'
      file_sd_configs:
        - files:
          - /etc/prometheus/deployments.json
          refresh_interval: 10s
